.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fff;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    background-color: white;
    color: black;
    border: 1px solid black;
    &:hover {
      opacity: 0.85;
      display: flex;
      background-color: black;
      color: white;
      border: none;
    }
  }
}
